.header-row {
    padding: 0;

    .header-logo-col {
        padding: 0;

        .header-logo-main {
            img {
                height: 65px;
            }
        }
    }
}

.header-search {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 32px;
}

.emzet-header-navigation {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
        margin-right: 15px;
        font-size: 16px;
        border-right: 1px solid #545454;
        padding-right: 15px;

        a.main-navigation-link {
            padding: 0;
            color: #545454;

            &.active {
                .main-navigation-link-text {
                    border-color: #545454;
                }
            }

            .main-navigation-link-text {
                padding: 0;
                margin: 0;
            }
        }

        &:last-child {
            margin-right: 0;
            border-right: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .header-row {
        height: 65px;
    }
}