{% block emzet_conversion_header %}
    <div class="emzet-desktop-wrapper" 
        style="
            font-size: 14px;
            color: black;"
        >
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-desktop-text1']}}
            </div>
            <div class="emzet-item">
                2.
            </div>
            <div class="emzet-item">
                3.
            </div>
            <div class="emzet-item">
                4.
            </div>
            <div class="emzet-item">
                5.
            </div>
        </div>
    </div>
    <div class="emzet-tablet-wrapper" 
        style="background-color: green;
            font-size: 14px;
            color: white;"
        >
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-tablet-text1']}}
            </div>
            <div class="emzet-item">
                T2.
            </div>
            <div class="emzet-item">
                T3.
            </div>
        </div>
    </div>
    <div class="emzet-smartphone-wrapper" 
        style="background-color: blue;
            font-size: 14px;
            color: white;"
        >
        <div class="container">
            <div class="emzet-item">
                {{shopware.theme['emzet-smartphone-text1']}}
            </div>
            <div class="emzet-item">
                S2.
            </div>
        </div>
    </div>
{% endblock %}

